.container{
  width: 100%;
  background: #e7f1f8;
  .title{
    padding: 120px 0 5px 0;
    text-align: center;
    color: #3c4761;
    font-size: 41px;
    font-weight: 700;
    line-height: 30.87px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}