.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .particles{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .3;
  }

  .content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    border-radius: 5px;
  }
};
