.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    border-radius: 5px;
  }
};

/*@mixin displayFlex($direction $wrap,$just,$align) {
  display: flex;
  flex-flow: $direction | $wrap;
  justify-content: $just;
  align-items: $align;
}*/