.container {
  width: 100%;
  background: #F6F6F6;

  .content {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 80px auto;
    text-align: center;

    .title{
      font-size: 34px;
      line-height: 42px;
    }

    & p{
      font-size: 18px;
      line-height: 22px;
    }
  }
}