.container {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;

  .nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px 5px 15px;
    border-bottom: 2px solid #828282;

    .link {
      display: block;
      padding: 10px;
      border-radius: 7px;
      font-size: 18px;
      line-height: 22px;
      color: #828282;
      font-weight: 400;
      text-align: center;
      text-decoration: none;

      &:nth-of-type(1n+2) {
        margin-left: 40px;
      }
    }

    .btnNav {
      &:hover {
        color: #070707;
      }

      &:active {
        box-shadow: inset 0 0 5px 1px #c5c2c3;
      }
    }
  }

  .info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    padding: 10px;
    text-align: center;

    & h1 {
      width: 33.3%;
      font-size: 32px;
      line-height: 40px;
      color: #070707;
    }

    & p {
      width: 33.3%;
      font-size: 18px;
      line-height: 22px;
      color: #070707;
    }

    .lang {
      width: 33.3%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
      font-size: 16px;
      line-height: 20px;
      color: #828282;

      & div {
        width: 20%;
        transform: rotate(-90deg);
      }
      & span:hover{
        cursor: pointer;
      }
    }
  }
  .photo{
    display: block;
    width: 100%;
    min-height: 387px;
    margin: 20px 0 10px 0;
    background: #3c4761;
  }
}
