.container {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;

  .info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    padding: 10px;
    text-align: center;

    .title {
      width: 40%;
      font-size: 32px;
      line-height: 40px;
      color: #070707;
    }

    .aboutMe {
      width: 40%;
      font-size: 18px;
      line-height: 22px;
      color: #070707;
    }

    .lang {
      width: 20%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
      font-size: 16px;
      line-height: 20px;
      color: #828282;

      & div {
        width: 20%;
        transform: rotate(-90deg);
      }

      & span:hover {
        cursor: pointer;
      }
    }
  }

  .photo {
    display: block;
    width: 100%;
    min-height: 387px;
    margin: 20px 0 10px 0;
    background: #3c4761;
  }
}
