.container{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 40px 0;

  .title{
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
  }

  .btnHire{
    display: block;
    padding: 10px;
    border: 1px solid #828282;
    border-radius: 7px;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    outline: none;

    &:hover {
      outline: none;
      color: #070707;
    }

    &:active {
      outline: none;
      box-shadow: inset 0 0 5px 1px #c5c2c3;
    }

    &:focus {
      outline: none;
    }
  }
}