.container{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 40px 0;

  .title{
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
  }

  .socials{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px 5px 15px;

    .link {
      display: block;
      font-size: 18px;
      line-height: 22px;
      color: #707070;
      font-weight: 400;
      text-align: center;
      text-decoration: none;

      &:nth-of-type(1n+2) {
        margin-left: 40px;
      }

      &:hover {
        color: #070707;
        border-bottom: 2px solid #828282;
        margin-bottom: -2px;
      }
    }
  }
}